﻿@model Sexshop.Web.Models.Toy
@{
    ViewBag.Title = "ToyDetails";
}

<h2>Datasheet of one toy</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>The ID for the toy</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Brand)</td>
        <td>@Html.DisplayFor(m => m.Brand)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>

</table>