﻿@model Sexshop.Web.Models.Toy

<h2>Edit one toy</h2>

@using (Html.BeginForm("Edit", "Toy"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Brand)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Brand)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <input type="submit" value="SEND" />
}
