﻿@model Sexshop.Web.Models.ToyViewModel

@{
    ViewBag.Title = "ToyIndex";
}

<h2>Toys Index</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("ToyEdit", Model.EditedToy)

@Html.Partial("ToyList", Model.ListOfToys)
